body{
  background: url("jaguar-xe.jpg") center fixed;
  background-size: cover;
}

div.container {
  border-radius: 7.5px;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 40px;
  top: 40px;
  right: 40px;
}

div.text {
  margin: 40px 40px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

div.personalized{
  margin: 0px 40px 25px;
  font-family: 'Roboto', sans-serif;
}
a.button{
  text-decoration:none;
  background: #DB3030;
  color: white;
  padding: 10px 30px;
  font-weight: 400;
  border: none;
}

@media(min-width: 600px){
  div.container {
    width: 600px;
  }
}
